In [10]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [11]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [15]:
 data  = requests.get(url).text

In [16]:
# create a soup object using the variable 'data'
soup = BeautifulSoup(data,"html5lib")

In [17]:
import pandas as pd

In [18]:
table = soup.find('table')

# Extract table data
table_data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all(['th', 'td']):
        row_data.append(cell.get_text(strip=True))
    table_data.append(row_data)

In [19]:
table_data

[['No.',
  'Language',
  'Created By',
  'Average Annual Salary',
  'Learning Difficulty'],
 ['1', 'Python', 'Guido van Rossum', '$114,383', 'Easy'],
 ['2', 'Java', 'James Gosling', '$101,013', 'Easy'],
 ['3', 'R', 'Robert Gentleman, Ross Ihaka', '$92,037', 'Hard'],
 ['4', 'Javascript', 'Netscape', '$110,981', 'Easy'],
 ['5', 'Swift', 'Apple', '$130,801', 'Easy'],
 ['6', 'C++', 'Bjarne Stroustrup', '$113,865', 'Hard'],
 ['7', 'C#', 'Microsoft', '$88,726', 'Hard'],
 ['8', 'PHP', 'Rasmus Lerdorf', '$84,727', 'Easy'],
 ['9', 'SQL', 'Donald D. Chamberlin, Raymond F. Boyce.', '$84,793', 'Easy'],
 ['10',
  'Go',
  'Robert Griesemer, Ken Thompson, Rob Pike.',
  '$94,082',
  'Difficult']]

In [20]:
# store the table_data in a variable callled df 
df = pd.DataFrame(table_data[1:], columns=table_data[0])

In [21]:
df

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
0,1,Python,Guido van Rossum,"$114,383",Easy
1,2,Java,James Gosling,"$101,013",Easy
2,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
3,4,Javascript,Netscape,"$110,981",Easy
4,5,Swift,Apple,"$130,801",Easy
5,6,C++,Bjarne Stroustrup,"$113,865",Hard
6,7,C#,Microsoft,"$88,726",Hard
7,8,PHP,Rasmus Lerdorf,"$84,727",Easy
8,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
9,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [22]:
df.to_csv('popular-languages.csv')